.vscode/*
config/*
install_scripts/config/*
*.DS_Store
*.tmp
**/__pycache__/**
**/data/**
labelStudio.py
*.zip
**/.DS_Store
**/__pycache__/*
src/calibration_data/
src/calibration_data/*.png
src/calibrationdata.tar.gz
**.cache